<nav class='secondary-actions'>
  <%= link_or_span_to 'Show', user %>
  <%= link_or_span_to 'Edit', edit_user_path(user) %>
  <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
</nav>
