@import 'common'

.primary-actions,
.secondary-actions
  position: absolute
  top: 0

  > a,
  > span
    display: block
    padding: 0 $unit ($unit / 3) $unit

.primary-actions
  left: 0

.secondary-actions
  right: 0
  text-align: right

.emails
  +margins($unit)
  text-align: center

  &__email
    +margins($unit)
    display: table
    width: 100%
    padding: 0 $unit

    > span
      display: table-cell

    &__from,
    &__subject
      text-align: left
    &__from
      width: 25%
    &__subject
      width: 60%
    &__date
      width: 15%
      text-align: right

.email
  width: 75%
  margin: $unit auto

  &__message,
  &__body
    min-height: 50vh
    margin: 0 auto

  &__metadata
    width: 100%
    +margins($unit)


  &__original
    &__rendered
      font-family: monospace

.actions
  margin: $unit * 2
  text-align: center
