<p id="notice"><%= notice %></p>

<h1>Emails</h1>

<div class='emails'>
  <% @emails.each do |email| %>
    <div class='emails__email'>
      <%= link_to email.message_id, email %>
    </div>
  <% end %>
</div>
