<div class='emails'>
  <% @emails.each do |email| %>
    <%= link_to email, class: 'emails__email' do %>
      <span class='emails__email__from'>
        <%= to_sentence email.from %>
      </span>
      <span class='emails__email__subject'>
        <%= email.subject %>
      </span>
      <span class='emails__email__date'>
        <%= time_ago_in_words email.date %> ago
      </span>
    <% end %>
  <% end %>
</div>
