<%= render 'emails/actions/primary' %>

<div class='email'>
  <div class='email__message'>
    <div class='email__message__rendered'>
      The requested message is missing.
    </div>
  </div>
</div>
