<div class='emails'>
  <% @objects.each do |object| %>
    <%= link_to new_email_path(remote_message_id: object.key), class: 'emails__email' do %>
      <span class='emails__email__subject'>
        <%= object.key %>
      </span>
      <span class='emails__email__date'>
        <%= time_ago_in_words object.last_modified %> ago
      </span>
    <% end %>
  <% end %>
</div>
