<%= render 'emails/actions/primary', email: @email %>
<%= render 'emails/actions/secondary', email: @email %>

<div class='email'>
  <div class='email__message'>
    <div class='email__message__rendered'>
      <%= simple_render @email.message || @email.body %>
    </div>
  </div>

  <%= render 'metadata', email: @email %>
</div>
